div.card {
  width: fit-content;
  border: 1px solid black;
  box-shadow: 5px 5px 5px black;
  width: min(200px, 25vw);
  height: min(200px, 25vw);
}

div.card:hover {
  cursor: pointer;
}

img.card {
  width: min(200px, 25vw);
  height: min(200px, 25vh);
  transition: all .1s ease-in-out;
  object-fit: cover;
}

img.card:hover {
  transform: scale(1.1);
}